.reset-btn
{
    border: none;
    border-radius: 0.5rem;
    background-color: red;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    margin: 2rem auto;
    display: block;
    box-shadow: 4px 4px 0 #d90429;
    transition: transform 0.2s, box-shadow 0.2s;
}
.reset-btn:active
{
    transform: translateX(4px), translateY(4px);
    box-shadow: 0px 0px 0px #d90429;
}
